    * {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    height: 100%;
    width: 100%;
}

div#navegador {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 63px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgb(218, 220, 224);
    border-bottom: 2px solid rgb(206, 206, 206);
}

nav ul {
    float: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: left;
}

nav ul li {
    padding: 0px 10px;
}

a#buscar {
    padding-left: 30px;
    border: none;
}

a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

a:link,
a:active,
a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: red;
    font-size: 18px;
    transform: scale(1.2);
    -webkit-transform: scale(1.05);
    transition: .2s;
}

div.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.titulovermelho {
    font-weight: bold;
    font-size: 28px;
    color: red;
}

section#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.buscacep {
    width: 100%;
    max-width: 576px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 90px;
}

div.mapa {
    width: 100%;
    height: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.conteudo {
    max-width: 1270px;
    width: 100%;
    height: 100%;
    background-color: red;
}

div.white {
    background-color: white;
    margin: 0px 50px;
}

form input {
    border: none;
    font-size: 14px;
    width: 325px;
    margin: 5px 0px;
    display: block;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul#resultado .form-group li input {
    height: 1px;
    padding: 10px 0px;
}

input#cep {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #a4a4a4;
    margin-bottom: 30px;
}

::-webkit-input-placeholder {
    color: #dbdbdb;
}

button {
    background-color: red;
    color: white;
    display: block;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: none;
    width: 250px;
}

button:hover {
    border: none;
    color: #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.05);
    transition: .2s;
}

#texto {
    font-size: 14px;
    color: #3e3e3e;
}

article#mapa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

div.endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

ul#resultado {
    list-style: none;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

li.field-group {
    display: flex;
}

input#localidade.form-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input#uf.form-control {
    margin-bottom: 30px;
}

@media screen and (max-width: 1280px) {
    div#navegador {
        width: 100%;
    }
    section#container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: none;
    }
    div.buscacep {
        background-color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    div.titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p.titulovermelho {
        font-weight: bold;
        font-size: 28px;
        color: red;
    }
    #texto {
        font-size: 14px;
        color: #3e3e3e;
    }
    div.mapa {
        width: 100%;
        height: 875px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.conteudo {
        max-width: 1270px;
        width: 100%;
        height: 100%;
        background-color: red;
    }
    div.white {
        background-color: white;
        margin: 0px 50px;
    }
    div.endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    article#mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    @media screen and (max-width: 737px) {
        div#navegador {
            width: 100%;
        }
        section#container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            float: none;
        }
        div.buscacep {
            background-color: #fff;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        div.titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        p.titulovermelho {
            font-weight: bold;
            font-size: 28px;
            color: red;
        }
        #texto {
            font-size: 14px;
            color: #3e3e3e;
        }
        div.mapa {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.conteudo {
            max-width: 1270px;
            width: 100%;
            height: 100%;
            background-color: red;
        }
        div.white {
            background-color: white;
            margin: 0px 50px;
        }
        div.endereco {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
        }
        article#mapa {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-flow: row;
        }
    }