@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway-Regular.ttf);
}